<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Students Performance Manager API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="box">
        <h2>{{ message }} 🚀</h2>
        <p>Creator: <strong>{{ creator }}</strong></p>
        <p>Profile: <a href="{{ profile }}" target="_blank">{{ profile }}</a></p>
    </div>
</body>
</html>
